@model Book_Store.Models.Book


@if(User.Identity.IsAuthenticated && User.IsInRole("storeOwner"))
{

<div class="container">
    <div class="p-2 pt-md-5 pb-md-3 mx-auto">
        <h1 class="display-4">Add New Book</h1>
    </div>


    <form asp-controller="Book" asp-action="Add" method="post">
        <div class="form-group">
            <label class="font-weight-bold">BookID</label>
            <input class="form-control" asp-for="@Model.BookId">
            <span class="text-danger" asp-validation-for="@Model.BookId"></span>
        </div>

        <div class="form-group">
            <label class="font-weight-bold">Title</label>
            <input class="form-control" asp-for="@Model.BName">
            <span class="text-danger" asp-validation-for="@Model.BName"></span>
        </div>

        <div class="form-group">
            <label class="font-weight-bold">Price</label>
            <input class="form-control" asp-for="@Model.BPrice">
            <span class="text-danger" asp-validation-for="@Model.BPrice"></span>
        </div>

        <div class="form-group">
            <label class="font-weight-bold">Quantity</label>
            <input class="form-control" asp-for="@Model.BQuantity">
            <span class="text-danger" asp-validation-for="@Model.BQuantity"></span>
        </div>

        <div class="form-group">
            <label class="font-weight-bold">Description</label>
            <input class="form-control" asp-for="@Model.BDescription">
            <span class="text-danger" asp-validation-for="@Model.BDescription"></span>
        </div>

        <div class="form-group">
            <label class="font-weight-bold">Image</label>
            <input class="form-control" asp-for="@Model.BPicture">
            <span class="text-danger" asp-validation-for="@Model.BPicture"></span>
        </div>
        <div class="form-group">
            <label class="font-weight-bold">Author</label>
            <input class="form-control" asp-for="@Model.BAuthor">
            <span class="text-danger" asp-validation-for="@Model.BAuthor"></span>
        </div>
        <div class="form-group">
            <label class="font-weight-bold">Category</label>
            <select class="list-group-item" asp-for="CategoryId">
                <option>Select an category</option>
                @foreach (var category in ViewBag.Categories)
                {
                        if (@category.Status == 2)
                        {
                            <option value="@category.Id">
                                @category.CatName
                        </option>
                        }
                }
            </select>
            <span class="text-danger" asp-validation-for="CategoryId"></span>
        </div>
        <button type="submit" class="btn btn-dark"><i class="fa-solid fa-check"></i> Add</button>
    </form>
</div>
} else {
    <html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.button-27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}
</style>
</head>
<body>

<h1>Alert Messages</h1>

<p>Click on the "x" symbol to close the alert message.</p>
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>Danger!</strong> <h2>You have no access to this section.</h2>
  </div>
  <div>
  <br>
  <a asp-controller="Book" asp-action=""><button class="button-27" role="button">Back To Home</button></a>
  </div>

</body>
</html>
}
